<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../imgs/logo.png" type="image/png">
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/form.css">
    <script defer src="../app/regester.js"></script>
    <title>Regester</title>
</head>
<body>
    <ul class="glassmorphism" error-display></ul>

    <form class="glassmorphism" regester action="../../server/Controllers/regester.php" method="GET">
        <input type="text" id="fstName" name="fstName" placeholder="First Name">
        <input type="text" id="lstName" name="lstName" placeholder="Last Name">
        <input type="text" id="username" name="username" placeholder="Username">
        <input type="password" id="password" name="password" placeholder="Password">
        <input type="password" id="confirm-password" name="password" placeholder="Confirm Password">
        <button type="submit" id="submit">Regester</button>
        <p>Already regestred! <a href="login.html" target="_self" rel="noopener noreferrer">Log In</a></p> 
    </form>
</body>
</html>